<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="FullRegressionTesting">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.vtiger.products.testng.TestScripts.TC_SearchProduct"/>
      <class name="com.vtiger.products.testng.TestScripts.TC_CreateByProductLink"/>
      <class name="com.vtiger.products.testng.TestScripts.TC_CreateProduct"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- FullRegressionTesting -->
